<%= form_tag kondate_path, method: :post do %>
    <div class="form-group">
      <%= label_tag :query, '何食べた？' %>
      <%= text_field_tag :query, params[:query], class: 'form-control', id: 'js-query-field' %>
    </div>

    <%= hidden_field_tag :latitude, '35.65062800', id: 'js-latitude-field' %>
    <%= hidden_field_tag :longitude, '139.54068300', id: 'js-longitude-field' %>
    <%= submit_tag '送信', class: 'btn btn-primary' %>
<% end %>
