<div class="card">
  <div class="row">
    <div class="col" style="min-height: 460px; max-width: 100%; background-image: url('<%= kondate.image_url %>'); background-size: cover;"></div>
    <div class="col">
      <div class="card-block">
        <h4 class="card-title"><%= kondate.title %></h4>
        <h6 class="card-subtitle mb-2 text-muted">調理時間 <%= kondate.cooking_time %> 分</h6>

        <dl class="mt-3">
          <dt>入っている食材</dt>
          <dd>
            <% kondate.materials.map(&:normalized_name).compact.uniq.each do |name| %>
                <span><%= name %></span>
            <% end %>
          </dd>
          <dt>レシピURL</dt>
          <dd><%= link_to kondate.url, kondate.url %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
