<div class="card kondate">
  <div class="row">
    <div class="col kondate-image" style="background-image: url('<%= restaurant.image_url.shop_image1 %>');">
      <div class="image-spacer"></div>
    </div>
    <div class="col kondate-content">
      <div class="card-block">
        <h4 class="card-title"><%= restaurant.name %></h4>
        <h6 class="card-subtitle mb-2 text-muted"><%= restaurant.address %></h6>

        <dl class="mt-3">
          <dt>説明</dt>
          <dd>
            <%= simple_format restaurant.pr.pr_short %>
          </dd>
          <dt>レストランURL</dt>
          <dd><%= link_to restaurant.url, restaurant.url %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
