<%= form_for(user) do |f| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= render 'users/form_profile_fieldset', f: f %>
    <%= render 'users/form_allergies_fieldset', f: f %>
    <%= render 'users/form_dislikes_fieldset', f: f %>
    <%= render 'users/form_style_fieldset', f: f, user: @user %>

    <%= f.submit '送信', class: 'btn-primary' %>
<% end %>
