<p id="notice"><%= notice %></p>

<h1>Boardings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boardings.each do |boarding| %>
      <tr>
        <td><%= link_to 'Show', boarding %></td>
        <td><%= link_to 'Edit', edit_boarding_path(boarding) %></td>
        <td><%= link_to 'Destroy', boarding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boarding', new_boarding_path %>
