<div class="container">
  <%= form_for @user, url: boarding_step2_path, method: :post do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div>
        <h5>よく利用する食事方法を選択してください</h5>
        <%= collection_radio_buttons(:user, :style, User.styles, :first, :last) do |b| %>
            <%= b.label { b.radio_button + 'aaa' } %>
        <% end %>
      </div>

      <%= f.submit '送信', class: 'btn-primary' %>
  <% end %>
</div>