<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>asumeshi</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: :all, "data-turbolinks-track": :reload %>
    <%= javascript_include_tag "application", media: :all, "data-turbolinks-track": :reload %>
  </head>

  <body>
    <% if content_for?(:header) %>
      <%= yield :header %>
    <% else %>
      <div class="navbar-fixed">
        <nav class="nav-wrapper" role="navigation">
          <div class="nav-wrapper container">
            <%= link_to "ASUMESHI", root_path, id: "logo-container", class: "brand-logo" %>
          </div>
        </nav>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <% if content_for?(:footer) %>
      <%= yield :footer %>
    <% else %>
      <footer class="page-footer">
        <div class="container">
          <p class="grey-text text-lighten-4">
            <% if controller_name == "searches" %>
              <%= link_to @debug_mode ? t("turn_off_debug_mode") : t("turn_on_debug_mode"), url_added_param(request.url, "debug", @debug_mode ? 0 : 1), class: "grey-text text-lighten-4" %>
            <% end %>
          </p>
        </div>
        <div class="footer-copyright">
          <div class="container">
            Team IDEAL TELLER
            <%= link_to "English", root_path(locale: :en), class: "grey-text text-lighten-4 right" %>
            <%= link_to "日本語", root_path(locale: :ja), class: "grey-text text-lighten-4 right" %>
          </div>
        </div>
      </footer>
    <% end %>
  </body>
</html>
