<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Asumeshi</title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: :all, 'data-turbolinks-track': :reload %>
  <%= javascript_include_tag 'application', media: :all, 'data-turbolinks-track': :reload %>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js' %>
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-light bg-faded fixed-top navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'icon_150x150.png', width: 30, height: 30, class: 'd-inline-block align-top' %>
        Asumeshi
    <% end %>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <% if current_user.present? %>
              <%= link_to 'プロフィール', user_path, class: 'nav-link' %>
          <% else %>
              <%= link_to 'ログイン', user_facebook_omniauth_authorize_path, class: 'nav-link' %>
          <% end %>
        </li>
      </ul>
    </div>

</nav>

<!-- Begin page content -->
<main>
  <% flash_messages %>
  <%= yield %>
</main>

<footer class="footer">
  <div class="container">
    <span>Team IDEAL TELLERS</span>
  </div>
</footer>

</body>
</html>
