<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>asumeshi</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: :all, "data-turbolinks-track": :reload %>
    <%= javascript_include_tag "application", media: :all, "data-turbolinks-track": :reload %>
  </head>

  <body>
    <% if content_for?(:header) %>
      <%= yield :header %>
    <% else %>
      <div class="navbar-fixed">
        <nav class="nav-wrapper" role="navigation">
          <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">ASUMESHI</a>
          </div>
        </nav>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <% if content_for?(:footer) %>
      <%= yield :footer %>
    <% else %>
      <footer class="page-footer">
        <div class="container">
          <p class="grey-text text-lighten-4"><%= link_to "デバッグモードにする", "#", class: "grey-text text-lighten-4" %></p>
        </div>
        <div class="footer-copyright">
          <div class="container">
            Team IDEAL TELLER
            <%= link_to "English", root_path(locale: :en), class: "grey-text text-lighten-4 right" %>
            <%= link_to "日本語", root_path(locale: :ja), class: "grey-text text-lighten-4 right" %>
          </div>
        </div>
      </footer>
    <% end %>
  </body>
</html>
